<?php

$mollie_apikey_live = "live_...";
$mollie_apikey_test = "test_...";

$mollie_test = true;  # set to false to use the live environment

$limit_min = 13.37;
$limit_max = 150;
$limit_backdoor = "boardgavepermission";
